{% load render_bundle from webpack_loader %}
{% load raven %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="">
        <link rel="shortcut icon" href="assets/ico/favicon.ico">

         <title>easyPCE</title>

        {% render_bundle 'main' 'css' %}
    </head>
    <body>
        <div id="container"></div>
        {% render_bundle 'main' 'js' %}
        <script>Raven.config('{% sentry_public_dsn %}').install()</script>
    </body>
</html>
